.container2{
    display: flex;
    padding: 3%;

}

.image{
    width: 50%;
    height: auto;
}



body{
    background-color: rgb(255, 253, 253, 0.932);
}
.enrolled{
    flex: 1;
    background-color: rgb(242, 247, 255);
    padding-bottom: 23.5%;
    margin-top: 45vh;
    padding-left: 150px;
}
.table,th,td{
    border: 1.5px solid;
    align-items: center;
}

table{
    position: absolute;
    z-index: 1;

}
th,td{
    padding: 10px;
}

tr:nth-child(odd){
    background-color: #ddd;
}

tr:nth-child(even){
    background-color: #fff;
}