body{
    background-color: lightslategray;
}
.container {
    /* background-color: rgb(196, 196, 196); */
    display: flex;
    align-items: center;
    object-position: center;
    padding: 15%;
    
}
.middle_box{
    width: 100%;
    height: 50vh;
    flex: 1;
    background-color: rgb(85, 93, 136);
    padding: 15%;
    align-items: center;
    object-position: center;
    
}
.login_button{
    border-radius: 20%;
    

}
