<!DOCTYPE html>
<html>
    <head>
        <title>Search Page</title>
        <link rel = "stylesheet" href = "../static/search.css">
    </head>
    <body>
        <div>
            <img class = "cpp-logo"; src = "../static/Images/cpp-logo-light.jpg">
        </div>
        <div class = "rounded-corners-box">
            <div class= "search-header">
                <p class = "search-header-text">Class Search</p>

            </div>
            {% for result in search_output %}
              {% for item in result %}
                  {{ item }} 
              {% endfor %}
              <br>
          {% endfor %}
            </div>
    

        </div>

    </body>



</html>
