<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class = "container">
        <div class = "header-layer">
          <div class = "left-head">
            <h class = "name-class">(Your Name)</h>
          </div>
          <div class = "middle-head">
            <img class = "image" src="../static/Images/cpplogolight.jpg">
          </div>
          <div class =  "right-head">
            <form>
              <span onclick="window.location.href = 'home.html';" class = "text-titles">Home</span>
            </form>
            <form>
              <span onclick="window.location.href = 'search.html';" class = "text-titles">Search</span>
            </form>
            <form>
              <span onclick="window.location.href = 'fifth.html';" class = "text-titles">Enroll</span>
            </form>
            <button onclick = "window.location.href = 'index.html';" class = "button-design" type="submit">LOGOUT</button>
          </div>

        </div>
      </div>
      <div class = "container">
        <div class = "body-layer">
          <h class ="body-text">SHOPPING CART</h>
        </div>
        <div class = "body-layer2">
          <h class ="body-text">TOOL BAR</h>

        </div>
      </div>
      <div class = "container">
        <div class = "body-layer">
          <h class ="body-text">SCHEDULE</h>
        </div>
       
      </div>
  </body>
</html>

