.container2{
    padding: 1%;
}

body{
    background-color: rgba(219, 219, 219, 0.932);    
}

.box{
    border-radius: 10px;
    border: 5px solid rgb(164, 191, 166);
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.text{
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 41.77%;
    padding-right: 44%;
    background-color: rgb(164, 191, 166);

}
.box2{
    border-radius: 10px;
    border: 5px solid rgb(232, 249, 191);
    background-color: rgb(255, 255, 255);

}

.text2{
    border-radius: 4px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(232, 249, 191);
    padding-left: 38%;
    padding-right: 42.7%;
    padding-top: 0.2%;
    
}

.seperation{
    height: 5px;
    padding: 5%;
}


.table,th,td{
    border: 2.5px solid;
    align-items: center;
}

table{
    padding-top: 5%;
    padding-left: 5%;
    position: static;
    z-index: 1;

}
th,td{
    padding: 20px;
}

tr:nth-child(odd){
    background-color: #ddd;
}

tr:nth-child(even){
    background-color: #fff;
}

.button{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 1070px;
    margin-bottom: 10px;
}