*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../static/Images/cpp.png);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;  
}


.container {
    display: flex;
    align-items: center;
    object-position: center;
    padding: 15%;
}

.login_button{
    border-radius: 20%;


}
.image-setting{
    flex:1;
    padding: 6%;
    margin-left: 5%;
}
.Image{
    border-radius: 2%;
    height: auto;
    width: 200%;
}
.title-name{
    
    flex: 1;
    padding-left: 10%;
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;

}
.button-properties{
    flex: 100;
    padding: 5%;
    padding-left: 45%;
    object-position: center;
    align-items: center;
}