body{
    background-color: rgb(223, 219, 219);
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    padding: 3%;
    
}

/* header css */
.header-layer{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    position: fixed;
    justify-content: space-between;
    border-bottom-width: 3px;
    border-bottom-width: solid;
    border-bottom-color: black;
    align-items: center;
    object-position: center;
    z-index: 1;
}
.image{
    width: 50%;
    height: auto;
}
.left-head{
     flex: 1;
     
}
.middle-head{
   
    flex: 1;
    object-fit: contain;
    padding-left: 10%;
    align-items: center;
    display: flex;
    /* margin-left: 2%;
    margin-right: 10%; */
    max-width: 400px;
    
   

}
.right-head{
    
    flex: 1;
     object-fit: contain;
     left: 0;
     align-items: center;
     display: flex;
     justify-content:left;
     max-width: 400px;
     height: auto;

     
}

.button-design{
    background-color: #3a3f3e;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-design::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #73AD21;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.button-design:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}


.text-titles{
    display: inline-block;
    position: relative;
    margin-right: 35px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.text-titles:after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    background-color: rgba(0,0,0,0.829);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;

}
.text-titles:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}
.name-class{
    margin-left: 50px;
    font-family: 'Fugaz One', cursive;

   
}


/* body css */
.body-layer{
   
    background-color: white;
    flex: 2;
    /*
    background-color: aqua;
    width: 100%;
    height: auto; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 3px solid #73AD21;
   /* padding: 200px; */
    width: 900px;
    
    /* height: 600px; */
    margin: 0px;
    align-items: center;
}
/* .body-layer{
    display: flex;
    align-items: center;
    
    width: 100%;
} */
.body-text{
    width: 100%;
    background-color:#73AD21;
    color: white;
    font-size: 20px;
}
.body-layer2{
    background-color: white;
    flex: 1;
    /*
    background-color: aqua;
    width: 100%;
    height: auto; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 3px solid #73AD21;
   /* padding: 200px; */
    width: 200px;
    
    /* height: 200px; */
    margin-left: 10px;
    align-items: center;

}
/* table */

.table-home,th,td{
    border: 2.5px solid;
    align-items: center;
}

.table-home{
    
    border-collapse: collapse;
    width: 100%;
    position: static;
    z-index: 1;

}
th,td{
    padding: 10px;
}

tr:nth-child(odd){
    background-color: #ddd;
}

tr:nth-child(even){
    background-color: #fff;
}
.top-one{
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.middle-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
